In [1]:
def greet():
    print('hello')
    print('good morning')

In [4]:
def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning

In [5]:
def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning
hello
good morning

In [9]:
def greet():
    print('hello')
    print('good morning')
greet()

print()

greet()

hello
good morning

hello
good morning

In [11]:
def greet():
    print('hello')
    print('good morning')
greet()

print('*******************')

greet()

print('############')

hello
good morning
*******************
hello
good morning
############

# define the function without argument

In [13]:
def add(x,y):
    c=x+y
    print(c)  
add(5)

TypeError: add() missing 1 required positional argument: 'y'

In [17]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6,7,8)

TypeError: add() takes 2 positional arguments but 4 were given

In [18]:
def add(x,y):
    c=x+y
    print(c)  
add(5,'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
def add(x,y):
    c=x+y
    print(c)  
add(5,4)

9

In [21]:
def greet():
    print('hello')
    print('good morning')
greet()

def add(x,y):
    c=x+y
    print(c)  
add(5,4)

hello
good morning
9

In [24]:
def greet():
    print('hello')
    print('good morning')
def add(x,y):
    c=x+y
    print(c)  

greet()
print('-----')
add(5,4)

hello
good morning
-----
9

In [25]:
def add(x,y):
    c=x+y
    print(c)  
add(5,4)

9

In [27]:
def add(x,y):
    c=x+y
    return c  
add(5,4)

9

In [28]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

10

In [29]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    return c

def sub(x,y):
    d = x-y
    return d
    
greet()    
add(5,4)
sub(10,2)

hello
good noon

8

In [30]:
def greet():
    print('hello')
    print('good noon')
    
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

greet()    
add_sub(5,4)

hello
good noon

(9, 1)

In [32]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [33]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

res1,res2 = add_sub(5,4)

print(res1,res2)

print(type(res1))
print(type(res2))

9 1
<class 'int'>
<class 'int'>

# update variable

In [1]:
def update(): 
    x = 8
    print(x)
update()

8

In [2]:
def update(): #update function take the value from the user
    x = 8
    print(x)
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [5]:
def update(x): #update function take the value from the user
    x = 8
    return x
    
update(10)

8

In [7]:
def update(x): #update function take the value from the user
    x = 8
    return x

a = 10
update(a)
print(a)

10

# function argument

In [8]:
def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5,6) #5 and 6 we called as actual argument

11

In [9]:
def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5,6,7) #5 and 6 we called as actual argument

TypeError: add() takes 2 positional arguments but 3 were given

In [10]:
def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5) #5 and 6 we called as actual argument

TypeError: add() missing 1 required positional argument: 'b'

In [11]:
def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [12]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [19]:
def person(name, age):
    print(name)
    print(age)
    
person(22, 'nit')

22
nit

In [20]:
def person(name, age):
    print(name)
    print(age-5)
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

# keyword argument

In [26]:
def person(name, age):
    print(name)
    print(age-5)
    
person(age = 22, name = 'nit')

nit
17

In [28]:
def person(name, age, mob):
    print(name)
    print(age-5)
    
person(age = 22, name = 'nit' )

TypeError: person() missing 1 required positional argument: 'mob'

In [33]:
def person(name, age, mob):
    print(name)
    print(age-5)
    print(mob)
    
person(age = 22, name = 'nit', mob = 101)

nit
17
101

In [35]:
def person(name, age=18):
    print(name)
    print(age)
    
person('nit')

nit
18

In [42]:
def person(name, age=18):
    print(name)
    print(age)
    
person('nit', 40)

nit
40

In [ ]:
# variable length argument