# CREATE A DICTIONARY

In [4]:
mydict = {}

In [7]:
mydict

{}

In [9]:
mydict = dict()
mydict

{}

In [11]:
mydict = {'A':'one','B':'two','C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [13]:
mydict = dict({'A':'one','B':'two','C':'three'})
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [15]:
mydict = dict({'A':'1','B':'two','3':'THREE'})
mydict

{'A': '1', 'B': 'two', '3': 'THREE'}

In [17]:
mydict.keys()

dict_keys(['A', 'B', '3'])

In [19]:
mydict.values()

dict_values(['1', 'two', 'THREE'])

In [21]:
mydict.items()

dict_items([('A', '1'), ('B', 'two'), ('3', 'THREE')])

In [23]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [25]:
mydict = {'1':'one', 'Two':'2','A':['Asif','John','Maria'],'B':('cat','bat','hat')}
mydict

{'1': 'one',
 'Two': '2',
 'A': ['Asif', 'John', 'Maria'],
 'B': ('cat', 'bat', 'hat')}

In [31]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys)
mydict3

{'d': None, 'a': None, 'c': None, 'b': None}

In [33]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,value)
mydict3

{'d': 10, 'a': 10, 'c': 10, 'b': 10}

In [35]:
keys = {'a','b','c','d'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [37]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# acessing items

In [40]:
 
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [42]:
mydict[1]

'one'

In [44]:
mydict.get(1)

'one'

In [46]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [48]:
mydict1['Name']

'Asif'

In [52]:
mydict1.get('job')

'Analyst'

# Add,remove,change items

In [83]:
 
mydict1 = {'Name':'Ramesh' , 'ID': 12345 , 'DOB': 1998 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Ramesh', 'ID': 12345, 'DOB': 1998, 'Address': 'Hilsinki'}

In [85]:
mydict1['DOB'] = 1992 # Changing Dictionary Items 
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Ramesh', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [87]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Ramesh', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [89]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Ramesh',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [93]:
 
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Ramesh', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [97]:
mydict1.popitem()

('Address', 'Delhi')

In [99]:
mydict1

{'Name': 'Ramesh', 'ID': 12345, 'DOB': 1995}

In [101]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Ramesh', 'DOB': 1995}

In [103]:
 
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [105]:
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

# Copy dictionary

In [108]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [110]:
mydict1 = mydict # Create a new reference "mydict1"

In [112]:

id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2623622661184, 2623622661184)

In [114]:

mydict2 = mydict.copy() # Create a copy of the dictionary

In [116]:
mydict['Address'] = 'Mumbai'

In [118]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [120]:
 
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [122]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through dictionary

In [125]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [129]:
 
for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [131]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Mumbai

# Dictionary Membership

In [134]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [136]:
 
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [138]:
'Asif' in mydict1 # Membership test can be only done for keys

False

In [142]:

'ID' in mydict1

True

In [144]:
'Address' in mydict1

True

# All / Any 
##### The all() method returns: 
True - If all all keys of the dictionary are true 

False - If any key of the dictionary is false 
###### The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [148]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [150]:
all(mydict1) # Will Return false as one value is false (Value 0)

True